auth:
  enabled: false

distributor:
  ring:
    kvstore:
      store: inmemory
    replication_factor: 1

ingester:
  chunk_idle_timeout: 3m
  max_chunk_age: 6h
  chunk_retain_period: 1m
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

server:
  http_listen_port: 3200
  log_level: info

storage_config:
  trace:
    backend: local
  local:
    path: /var/tempo/traces
  wal:
    path: /var/tempo/wal

querier:
  max_concurrent_queries: 10

metrics_generator:
  processor:
    batch:
      timeout: 5s
      send_batch_size: 100
    service_graphs:
      enabled: true
