scope: ceres-pg-cluster
namespace: /ceres
name: postgres-1

restapi:
  listen: 0.0.0.0:8008
  connect_address: postgres-1:8008
  cafile: /etc/ssl/certs/ca-certificates.crt
  certfile: /etc/ssl/certs/patroni.crt
  keyfile: /etc/ssl/private/patroni.key
  verify_client: optional
  http_certificate: /etc/ssl/certs/patroni.crt
  http_key: /etc/ssl/private/patroni.key

etcd:
  hosts: 
    - etcd:2379
  ttl: 30
  loop_wait: 10
  maximum_lag_on_failover: 1048576
  synchronous_mode: true
  synchronous_mode_strict: true

postgresql:
  data_dir: /var/lib/postgresql/data
  bin_dir: /usr/lib/postgresql/15/bin
  config_dir: /etc/postgresql
  
  parameters:
    listen_addresses: "0.0.0.0"
    port: 5432
    password_encryption: scram-sha-256
    ssl: on
    ssl_cert_file: /etc/ssl/certs/postgres.crt
    ssl_key_file: /etc/ssl/private/postgres.key
    ssl_ca_file: /etc/ssl/certs/ca-certificates.crt
    
    # HA Configuration
    max_connections: 500
    max_prepared_transactions: 500
    shared_buffers: 256MB
    effective_cache_size: 1GB
    maintenance_work_mem: 64MB
    work_mem: 16MB
    
    # Replication
    wal_level: replica
    max_wal_senders: 10
    max_replication_slots: 10
    wal_keep_segments: 64
    hot_standby: on
    hot_standby_feedback: on
    
    # Synchronous Replication
    synchronous_commit: remote_apply
    
    # Logging
    logging_collector: on
    log_directory: /var/log/postgresql
    log_filename: postgresql.log
    log_statement: all
    log_duration: on
    log_min_duration_statement: 1000
    
    # Performance
    random_page_cost: 1.1
    effective_io_concurrency: 100
    
  pg_hba:
    - local all postgres peer
    - local all all peer
    - host all all 127.0.0.1/32 md5
    - host all all ::1/128 md5
    - host replication all all md5
    - hostssl all all all scram-sha-256
    - hostssl replication all all scram-sha-256

  pg_ctl_timeout: 300
  
  use_pg_rewind: true
  use_slots: true
  recovery_conf:
    restore_command: "test ! -f /var/lib/postgresql/wal_archive/%f && false; cat /var/lib/postgresql/wal_archive/%f"

watchdog:
  mode: automatic
  device: /dev/watchdog
  safety_margin: 5

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    maximum_lag_on_failover: 1048576
    master_ttl: 30
    synchronous_mode: true
    synchronous_mode_strict: true
    postgresql:
      parameters:
        wal_level: replica
        max_wal_senders: 10
        max_replication_slots: 10

  pg_hba:
    - local all postgres peer
    - local all all peer
    - host all all 127.0.0.1/32 md5
    - host all all ::1/128 md5
    - host replication all all md5
    - hostssl all all all scram-sha-256
    - hostssl replication all all scram-sha-256

  users:
    postgres:
      password: "{{ POSTGRES_PASSWORD }}"
      options:
        - createrole
        - createdb
    replicator:
      password: "{{ REPLICATOR_PASSWORD }}"
      options:
        - replication

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
  maintenance: null
