http:
  routers:
    router-auth-http:
      rule: "Host(`auth.Ceres.local`)"
      entryPoints:
        - web
      service: service-auth
      middlewares:
        - redirect-to-https

    router-auth-https:
      rule: "Host(`auth.Ceres.local`)"
      entryPoints:
        - websecure
      service: service-auth
      tls: {}

    router-grafana-http:
      rule: "Host(`grafana.Ceres.local`)"
      entryPoints:
        - web
      service: service-grafana
      middlewares:
        - redirect-to-https

    router-grafana-https:
      rule: "Host(`grafana.Ceres.local`)"
      entryPoints:
        - websecure
      service: service-grafana
      tls: {}

    router-gitea-http:
      rule: "Host(`gitea.Ceres.local`)"
      entryPoints:
        - web
      service: service-gitea
      middlewares:
        - redirect-to-https

    router-gitea-https:
      rule: "Host(`gitea.Ceres.local`)"
      entryPoints:
        - websecure
      service: service-gitea
      tls: {}

  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https

  services:
    service-auth:
      loadBalancer:
        servers:
          - url: "http://keycloak:8080"
    service-grafana:
      loadBalancer:
        servers:
          - url: "http://grafana:3000"
    service-gitea:
      loadBalancer:
        servers:
          - url: "http://gitea:3000"
