---
# Role: ceres-apps
# Deploys Application services

- name: Ensure Core services are accessible
  wait_for:
    host: "{{ hostvars[groups['core_vms'][0]]['ansible_host'] }}"
    port: 5432
    timeout: 60

- name: Clone CERES repository
  git:
    repo: "{{ ceres_git_repo }}"
    dest: "{{ ceres_install_path }}"
    version: "{{ ceres_git_branch }}"
    force: yes
  become_user: ceres

- name: Create .env file
  template:
    src: env.j2
    dest: "{{ ceres_install_path }}/config/.env"
    owner: ceres
    group: ceres
    mode: '0600'

- name: Update PostgreSQL connection
  lineinfile:
    path: "{{ ceres_install_path }}/config/.env"
    regexp: '^POSTGRES_HOST='
    line: "POSTGRES_HOST={{ hostvars[groups['core_vms'][0]]['ansible_host'] }}"
  become_user: ceres

- name: Update Redis connection
  lineinfile:
    path: "{{ ceres_install_path }}/config/.env"
    regexp: '^REDIS_HOST='
    line: "REDIS_HOST={{ hostvars[groups['core_vms'][0]]['ansible_host'] }}"
  become_user: ceres

- name: Pull App Docker images
  docker_compose:
    project_src: "{{ ceres_install_path }}"
    files:
      - config/compose/base.yml
      - config/compose/apps.yml
    pull: yes
  become_user: ceres

- name: Start Application services
  docker_compose:
    project_src: "{{ ceres_install_path }}"
    project_name: ceres
    files:
      - config/compose/base.yml
      - config/compose/apps.yml
    state: present
  become_user: ceres

- name: Wait for services to be healthy
  pause:
    seconds: 60

- name: Display Apps services status
  debug:
    msg: "Application services are running on {{ inventory_hostname }}"
